.footer#kontact
            .heading_2
                h2 Связвться с нами
            .cont_footer
                .telephone
                    .number
                        p Телефон:
                        p +7 123 456 78 90
                    .photo_telephone
                        img(src="./img/image 4.png", alt="")
                .telephone
                    .number
                        p Адрес:
                        p г.Москва ул.Пушкина
                    .photo_telephone
                        img(src="./img/image 4.png", alt="")
                .telephone
                    .number
                        p Написать нам:
                        p qwerty@gmail.com
                    .photo_telephone
                        img(src="./img/image 4.png", alt="")