header 
    .banner 
        img.logo(src="./img/Ресурс 4@2x 1.png", alt="")
.container
    .main-menu
        ul 
            li 
                a(href="./index.html") Главная
            li 
                a(href="./ys.html") Услуги
            li 
                a(href="#kontact") Контакты
            li 
                a(href="#office2") Офис
            li 
                a(href="#partner2") Партнеры
            li 
                a(href="./about.html") О компании