doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=\, initial-scale=1.0")
        title Document
        <link rel="stylesheet" href="./css/style.css">
    body 
        include modules/header
        h2.heading_office Офис
        .background_office#office2 
            img.line(src="./img/Line 5 (1).png", alt="")
            .container_text_office
                p.name_office Главный офис завода <br> “Железобетонных изделий №172
                p.text_about_office Если вы ищете надежного партнера для реализации своего строительного проекта, обращайтесь в главный офис Завода железобетонных изделий. Мы всегда рады новым клиентам и готовы предложить лучшие условия сотрудничества!
            .button_on_office 
                button Посмотреть адрес
                button О компании
       
        h2.heading_partner Партнеры
        .container_partner#partner2 
            img.company_partner_1(src="./img/Rectangle 22.png", alt="")
            img.company_partner_2(src="./img/Rectangle 25.png", alt="")
            img.company_partner_3(src="./img/Rectangle 26.png", alt="")

        h2.heading_4 О компании
        .about_company_container
            img(src="./img/Rectangle 17.png", alt="")
            .text_and_photo_container
                p Завод железобетонных изделий %172 <br> – Ваш надежный партнер!
                p Добро пожаловать на сайт Завода железобетонных изделий! Мы рады предложить Вам широкий ассортимент качественной продукции, изготовленной по современным технологиям с использованием лучших материалов. Наш завод специализируется на производстве железобетонных изделий, таких как плиты перекрытия, фундаментные блоки, лестничные марши, опорные плиты и многое другое, а также на изготовлении металлоконструкций. Вся продукция соответствует всем строительным нормам и стандартам качества. Одним из наших главных преимуществ является наличие собственного автопарка специальной техники, которая обеспечивает своевременную и надежную доставку готовых изделий на объекты заказчиков. Мы также предоставляем услуги по проектированию и монтажу железобетонных конструкций, что позволяет нашим клиентам сэкономить время и средства на выполнение этих работ. Сотрудничество с нашим заводом – это гарантия надежности, качества и своевременности выполнения работ. Мы ценим каждого клиента и стремимся к долгосрочному и плодотворному сотрудничеству. Не упустите возможность стать нашим партнером и убедиться в преимуществах работы с Заводом железобетонных изделий! Обращайтесь к нам и вместе мы сделаем ваш проект успешным!    

        h2.heading_5 Адрес

        .maps_container
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1148549.7979733588!2d37.237779511766064!3d55.788700078609864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1701970815062!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        include modules/footer
        script(src="js/js.js") 