doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Document
        body
            include modules/header
            .about_company_banner_container
                .about_company_banner
                    .text_on_about_company_banner
                        p Добро пожаловать на сайт нашего завода по <br> производству металлобетонных изделий! Мы рады <br> представить вам нашу продукцию и услуги, которые <br> мы предоставляем на протяжении многих лет. <br> <br> В наши услуги входит доставка по всем регионам <br> Росси.
                    .button_on_about_company_banner
                        button Прейтии к продукции
                        button Узнать подробнее
        .heading_1
            h2 Продукция
        .container_product
            .product_1
                img(src="./img/image 3.png", alt="")
                .text_on_production
                    p(href="").name_product Бетонные кольца
                    p.about_product Бетонные кольца для колодца - это неотъемлемый элемент при строительстве колодцев, используемый для создания шахты. Они представляют собой цилиндрические блоки, изготовленные из тяжелого бетона, которые имеют стандартные размеры и форму. Кольца для колодцев обеспечивают герметичность и прочность конструкции, предотвращают осыпание грунта и проникновение грунтовых вод.
                    .buttons_on_production
                        button.information Узнать подробнее
                        button.buy Купить
            .product_2
                img(src="./img/image 3.png", alt="")
                .text_on_production
                    p.name_product  Бетонные кольца
                    p.about_product Бетонные кольца для колодца - это неотъемлемый элемент при строительстве колодцев, используемый для создания шахты. Они представляют собой цилиндрические блоки, изготовленные из тяжелого бетона, которые имеют стандартные размеры и форму. Кольца для колодцев обеспечивают герметичность и прочность конструкции, предотвращают осыпание грунта и проникновение грунтовых вод.
                    .buttons_on_production
                        button.information Узнать подробнее
                        button.buy Купить
            .product_3
                img(src="./img/image 3.png", alt="")
                .text_on_production
                    p.name_product  Бетонные кольца
                    p.about_product Бетонные кольца для колодца - это неотъемлемый элемент при строительстве колодцев, используемый для создания шахты. Они представляют собой цилиндрические блоки, изготовленные из тяжелого бетона, которые имеют стандартные размеры и форму. Кольца для колодцев обеспечивают герметичность и прочность конструкции, предотвращают осыпание грунта и проникновение грунтовых вод.
                    .buttons_on_production
                        button.information Узнать подробнее
                        button.buy Купить
            .product_4
                img(src="./img/image 3.png", alt="")
                .text_on_production
                    p.name_product  Бетонные кольца
                    p.about_product Бетонные кольца для колодца - это неотъемлемый элемент при строительстве колодцев, используемый для создания шахты. Они представляют собой цилиндрические блоки, изготовленные из тяжелого бетона, которые имеют стандартные размеры и форму. Кольца для колодцев обеспечивают герметичность и прочность конструкции, предотвращают осыпание грунта и проникновение грунтовых вод.
                    .buttons_on_production
                        button.information Узнать подробнее
                        button.buy Купить
        
        include modules/footer 
            