doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body 
        include modules/header
    .background
        .heading_services
            h2 Услуги
        .name_services
            p Доставка металлобетонных изделий
            .about_services_container
                img(src="./img/Rectangle 13.png", alt="")
                .text_button
                    p Доставка металлобетонных изделий - одно из основных направлений нашей компании. Мы предлагаем полный комплекс услуг по доставке металлобетонных изделий на объект заказчика, включая подбор оптимального вида транспорта, подготовку изделий к перевозке и соблюдение всех правил и требований к транспортировке. <br><br> Наши специалисты обладают большим опытом работы в данной сфере и готовы предложить Вам наиболее подходящие условия для доставки металлобетонных изделий. Мы учитываем все особенности Вашего заказа и подбираем оптимальный маршрут для его перевозки. <br><br> Мы гарантируем качественную и своевременную доставку металлобетонных изделий в любую точку страны. Наши специалисты следят за состоянием груза на протяжении всего пути, что позволяет избежать возможных повреждений при перевозке.
                    button Узнать подробнее
                    button Позвонить
        .container_services
        .name_services
            p Доставка металлобетонных изделий
            .about_services_container
                img(src="./img/Rectangle 13.png", alt="")
                .text_button
                    p Доставка металлобетонных изделий - одно из основных направлений нашей компании. Мы предлагаем полный комплекс услуг по доставке металлобетонных изделий на объект заказчика, включая подбор оптимального вида транспорта, подготовку изделий к перевозке и соблюдение всех правил и требований к транспортировке. <br><br> Наши специалисты обладают большим опытом работы в данной сфере и готовы предложить Вам наиболее подходящие условия для доставки металлобетонных изделий. Мы учитываем все особенности Вашего заказа и подбираем оптимальный маршрут для его перевозки. <br><br> Мы гарантируем качественную и своевременную доставку металлобетонных изделий в любую точку страны. Наши специалисты следят за состоянием груза на протяжении всего пути, что позволяет избежать возможных повреждений при перевозке.
                    button Узнать подробнее
                    button Позвонить
        .container_services
    include modules/footer 